@use "../../tokens/tokens.scss" as *;


.card {
    @include fnFlex(column, flex-start, center, 5rem);
    @include fnWidth(5rem, 5rem, 5rem, 5rem, 50rem);
    min-width: 50rem;
    max-width: 50rem;
    background-color: #fff;
    border-radius: 3rem;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        border-radius: 3rem;
        background: #fff;
        box-shadow:
            1px 1px 2px 0 rgba(255, 255, 255, 0.3),
            -1px -1px 2px 0 rgba(230, 230, 230, 0.5),
            -15px 15px 30px 0 rgba(230, 230, 230, 0.2) inset,
            15px -15px 30px 0 rgba(230, 230, 230, 0.2) inset,
            -15px -15px 30px 0 rgba(255, 255, 255, 0.9) inset,
            15px 15px 38px 0 rgba(230, 230, 230, 0.9) inset;
        h3 {
            @include fnFont(4.8rem, 900, normal, -0.24rem, $negro);
        }
        .card-viewer {
            transform: scale(1.1);
        }
        .card-info {
            &-ingredients-text {
                &-quantity {
                    @include fnFont(1.6rem, 900, normal, normal, $negro);
                }
                &-name {
                    @include fnFont(1.6rem, 400, normal, normal, $negro);
                    text-transform: capitalize;
                }
            }
            &-ali span {
                @include fnFont(3rem, 900, normal, normal, $negro);
                span {
                    @include fnFont(2.4rem, 400, normal, normal, $negro);
                }
            }
        }
    }
    h3 {
        @include fnFont(4.8rem, 700, normal, -0.24rem, $negro);
        text-align: center;
        transition: all 0.3s ease;
    }
    &-viewer {
        @include fnFlex(column, flex-start, center, 0rem);
        width: 20rem;
        height: 20rem;
        transition: all 0.3s ease;
        img {
            width: 20rem;
            height: 20rem;
            position: relative;
            z-index: 0;
        }
        &-liquid {
            z-index: 1;
            position: relative;
            @include fnFlex(column, flex-start, center, 0rem);
            width: 20rem;
            height: 20rem;
            aspect-ratio: 1/1;
        }
    }
    &-info {
        @include fnFlex(column, center, center, 5rem);
        width: 100%;
        &-ingredients {
            @include fnFlex(row, center, flex-start, 1rem);
            flex-wrap: wrap;
            &-element {
                @include fnFlex(column, flex-start, center, 2rem);
                width: 8rem;
                &-color {
                    width: 2rem;
                    height: 2rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                }
                &-text {
                    @include fnFlex(column, center, center, 0rem);
                    &-quantity {
                        @include fnFont(1.4rem, 750, normal, normal, $negro);
                        text-align: center;
                    }
                    &-name {
                        @include fnFont(1.4rem, 400, normal, normal, $negro);
                        text-align: center
                    }
                }
            }
        }
        &-ali {
            @include fnFlex(row, space-between, center, 1rem);
            @include fnWidth(0rem, 0rem, 0rem, 0rem, 100%);
            span {
                @include fnFont(3rem, 600, normal, normal, $negro);
                transition: all 0.3s ease;
                span {
                    @include fnFont(2.4rem, 400, normal, normal, $negro);
                }
            }
        }
    }
}
